.header_nav {
    background-image: linear-gradient(to right,#003b56,#7f8c98);
}

.headernav_inner_contents{
    background-image: linear-gradient(to right, #348fa2, #1b8bd2);
    margin: 1%;
    padding: 5px;
}

.headernav_inner_contents2{
    font-weight: bold;
}

.nav{
    float:right;
    font-size: 20px;
}

.p-4 {
    padding: 19px;
}

.nav-link {
    color: black
}

.nav-link:focus, .nav-link:hover {
    color: #ffffff;
}